<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/login-page.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="icon"
          href="https://www.flaticon.com/svg/vstatic/svg/174/174855.svg?token=exp=1616102231~hmac=3dd23878de2246eb4654f9e839113dd4"
          type="image/x-icon"/>
    <title><%- title %></title>
</head>
<body>
<section class="section is-fullwidth ">
    <div class="column is-6 is-offset-3 ">
        <div class="block has-text-centered">
            <%- body %>
        </div>
    </div>
</section>
</body>
</html>