
<div class="columns ">

    <div class="column is-6 is-offset-3">
        <div class="block has-text-centered has-background-white p-3 box">
            <div><h1> <strong>This website is an clone of Instagram for studying <br> Please do not enter your real Instagram informations.</strong></h1></div>
            <div class="block"><img src="./img/instagram-logo.png" width="220" height="70"></div>
            <div class="block">
            <% if (locals.validation_error != undefined) { %>
                <%- include('./partials/_mesaj.ejs')  %>
            <% } %>
            </div>
            <div class="block pl-3 pr-3 ">
                <form action="/register" method="post">
                    <div class="field">
                        <div class="control">
                            <input class="input mb-2" name="email" type="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" >
                        </div>
                        <div class="control">
                            <input class="input mb-2" name="fullname" type="text" placeholder="Full Name" value="<%= typeof fullname != 'undefined' ? fullname : '' %>">
                        </div>
                        <div class="control">
                            <input class="input mb-2" name="username" type="text" placeholder="Username" value="<%= typeof username != 'undefined' ? username : '' %>">
                        </div>
                        <div class="control">
                            <input class="input mb-2" name="password" type="password" placeholder="Password" >
                        </div>
                        <div class="control">
                            <input class="input mb-2" name="repassword" type="password" placeholder="Repeat Password">
                        </div>
                        <div class="block has-text-centered  ">
                            <button class="button is-info is-fullwidth" type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="block ">
                <a href="/forgot-password" class=" "> Forgot password?</a>
            </div>
        </div>



        <div class="block has-text-centered has-background-white p-3 box">
            Have an account? <a href="/login" > Log In </a>
        </div>

    </div>
</div>


<div class="block p-6"> </div>